@mobile: ~"only screen and (max-width: 1280px)";


@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 992px) {
    
    .main-content{
        & > [class*="col-"]{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.form-control-file {
    position: relative !important;
    height: 0px !important;
    //position: absolute;
    // top: 0;
    // // right: 0;
    // // min-width: 100%;
    // // min-height: 100%;
    // // font-size: 100px;
    // text-align: right;
    // filter: alpha(opacity=0);
    // opacity: 0;
    // outline: none;
    // background: white;
     cursor: inherit;
    //display: block;
}

.btn-common{
    color: white !important;

}
.btn-add-audio{
    .btn-common();

    background: #BA68C8 !important;
}

.btn-add-video{
    .btn-common();
    background: #E57373 !important ;
}


.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-top: 20px;
    margin-bottom: 20px;

    &.centered{
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

& .synchronize-btn{
         
        & .loop{
            display: none;
        }

        
        &.on-progress{

            & .loop{
                display: inline-block;
                animation: spin 2s linear infinite;
            }
            & .align{
                display: none;
            }
        }
     }
     
#dossier-contents-container
{
    @light-grey: darken(#EFEFEF, 5%);

     

 & .item-dropdown{
         position: absolute;
         top: 0px;
         right: 5px;
        }

    & .contents-list{
       
        // border: 1px solid @light-grey;
        // border-top: none;
        border: none;

         & .panel-title{
            text-transform: capitalize;
        }

        & .created_time {
                font-weight: normal;
                font-size: 9pt;
                color: lighten(black, 60%);
                    & + span{
                        
                        font-style: italic;
                        color: lighten(black, 60%);             
                    }
                }

        & .content-item.template{
            display: none;
        }
        
        & .show-more{
                margin-top: 8px;
                margin-bottom: 8px;
            }

            & .card{
                & .card-title{
                    text-transform:capitalize;
                    margin: 0px;
                }
                border: none !important;
            }
        & .content-item{
            margin-bottom: 18px;

            & .comment-controller{
                & .form-group{
                    margin-top:0px;

                    & .form-control{
                        margin: 0px;
                    }
                }
            }
            & .comment-list{
                margin: 0px;
                font-size:10pt;

                & li.comment {

                    & .profile-image{
                        width: 40px;
                        height: 40px;
                    }

                    & p{
                        margin: 0px;
                    }

                    & .author-name{
                        text-transform: capitalize;
                        font-weight: bold;
                    }
                    &:first-of-type{
                        margin-top: 8px;
                    }               
                }
            }

            & div.peaks-container{
                background: rgb(46,46,46);
                height: 300px;
                position: relative;
                
                @media @mobile{
                    height: 150px;

                    &::after{
                        content: ' ';
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                    }
                    
                    & .zoom-container{
                        display: none;
                    }
                }
            }

            @item-height: 70px;

           // box-sizing: content-box;
            border-bottom: 1px solid @light-grey;
            //height:  @item-height;

            & div.item-header{
                display: table;
                width: 100%;
                & hr{
                    margin-top: auto;
                    margin-bottom: 2px;
                }
            
                & > div {
                        display: table-cell;
                        vertical-align: middle;
                        float: none;
                    }

                & span[name='title']{
                    display: block;
                    font-weight: 700;
                    font-size: 10pt;
                }

                

                & .icon{
                    text-align: center;  
                    height: @item-height;
                    width: @item-height;
                    padding-left: 15px;
                    padding-right: 15px;

                    & button.play
                    {
                        position: relative;
                        border-radius: 50%;
                        border: 3px lightgray solid;
                        color: lightgray;
                        background: none;
                        outline: none;
                        width: @item-height*0.6;
                        height: @item-height*0.6;
                        text-align: center;
                        padding: 0px;
                        font-size: 15pt;
                        transition: all 0.3s;
                        
                        &:before{
                            content: "\e072";
                        }

                        &:hover{
                            border-color: mediumseagreen;
                            color: mediumseagreen;
                            //font-size: 17pt;
                            //background-color: mediumseagreen;
                        }

                        &.playing-status.playing{
                            border-color: mediumseagreen;
                            color: mediumseagreen;

                            &:before{
                                content: "\e073";
                            }
                        }
                    }
                }
                & .time-progress{
                    position: relative;
                    & hr{
                        width: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                         border-top-width: 2px;
                         &.bar{
                            border-color: darkred;
                            width: 0%;
                         }
                    }
                    margin-bottom: 4px;
                }

                & .info{
                    padding-left: 30px;
                    padding-right: 30px;
                }         
                & .controls
                {
                    & button{
                        background: none;
                        border: none;
                    }

                    & button.selected{
                        color: #3498db;
                    }
                    width: @item-height;
                    & span.glyphicon{
                        font-size: 16pt;
                    }
                }
            }//item-header

            & .item-player{
                position: relative;
                // overflow: hidden;
                text-align: center;
                background: #2e2e2e;

                & video{
                    max-width: 100%;
                    max-height: 500px;
                }

                & audio{
                    width: 100%;
                }

                & img{
                    max-height: 500px;
                    position: relative;
                }
            }
            
            
            & .awareness-context{
                
                & .btn{
                    margin:0px;
                    padding: 0px;
                }
                & .popover-content-html{
                    display: none;
                }
               
            }

            &.expanded .secondary{
                height: auto;
                overflow: visible;
                visibility: visible;
            }
           
            
            & .description{
                margin: 0px;
            }
        }
    }
}