/* Extra Small Devices, Phones */
@media only screen and (max-width: 992px) {
  .main-content > [class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-common {
  color: white !important;
}
.btn-add-audio {
  color: white !important;
  background: #BA68C8 !important;
}
.btn-add-video {
  color: white !important;
  background: #E57373 !important ;
}
.loader {
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
  margin-bottom: 20px;
}
.loader.centered {
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.synchronize-btn .loop {
  display: none;
}
.synchronize-btn.on-progress .loop {
  display: inline-block;
  animation: spin 2s linear infinite;
}
.synchronize-btn.on-progress .align {
  display: none;
}
#dossier-contents-container .item-dropdown {
  position: absolute;
  top: 0px;
  right: 5px;
}
#dossier-contents-container .contents-list {
  border: none;
}
#dossier-contents-container .contents-list .panel-title {
  text-transform: capitalize;
}
#dossier-contents-container .contents-list .created_time {
  font-weight: normal;
  font-size: 9pt;
  color: #999999;
}
#dossier-contents-container .contents-list .created_time + span {
  font-style: italic;
  color: #999999;
}
#dossier-contents-container .contents-list .content-item.template {
  display: none;
}
#dossier-contents-container .contents-list .show-more {
  margin-top: 8px;
  margin-bottom: 8px;
}
#dossier-contents-container .contents-list .card {
  border: none !important;
}
#dossier-contents-container .contents-list .card .card-title {
  text-transform: capitalize;
  margin: 0px;
}
#dossier-contents-container .contents-list .content-item {
  margin-bottom: 18px;
  border-bottom: 1px solid #e2e2e2;
}
#dossier-contents-container .contents-list .content-item .comment-controller .form-group {
  margin-top: 0px;
}
#dossier-contents-container .contents-list .content-item .comment-controller .form-group .form-control {
  margin: 0px;
}
#dossier-contents-container .contents-list .content-item .comment-list {
  margin: 0px;
  font-size: 10pt;
}
#dossier-contents-container .contents-list .content-item .comment-list li.comment .profile-image {
  width: 40px;
  height: 40px;
}
#dossier-contents-container .contents-list .content-item .comment-list li.comment p {
  margin: 0px;
}
#dossier-contents-container .contents-list .content-item .comment-list li.comment .author-name {
  text-transform: capitalize;
  font-weight: bold;
}
#dossier-contents-container .contents-list .content-item .comment-list li.comment:first-of-type {
  margin-top: 8px;
}
#dossier-contents-container .contents-list .content-item div.peaks-container {
  background: #2e2e2e;
  height: 300px;
  position: relative;
}
@media only screen and (max-width: 1280px) {
  #dossier-contents-container .contents-list .content-item div.peaks-container {
    height: 150px;
  }
  #dossier-contents-container .contents-list .content-item div.peaks-container::after {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
  #dossier-contents-container .contents-list .content-item div.peaks-container .zoom-container {
    display: none;
  }
}
#dossier-contents-container .contents-list .content-item div.item-header {
  display: table;
  width: 100%;
}
#dossier-contents-container .contents-list .content-item div.item-header hr {
  margin-top: auto;
  margin-bottom: 2px;
}
#dossier-contents-container .contents-list .content-item div.item-header > div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
#dossier-contents-container .contents-list .content-item div.item-header span[name='title'] {
  display: block;
  font-weight: 700;
  font-size: 10pt;
}
#dossier-contents-container .contents-list .content-item div.item-header .icon {
  text-align: center;
  height: 70px;
  width: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
#dossier-contents-container .contents-list .content-item div.item-header .icon button.play {
  position: relative;
  border-radius: 50%;
  border: 3px lightgray solid;
  color: lightgray;
  background: none;
  outline: none;
  width: 42px;
  height: 42px;
  text-align: center;
  padding: 0px;
  font-size: 15pt;
  transition: all 0.3s;
}
#dossier-contents-container .contents-list .content-item div.item-header .icon button.play:before {
  content: "\e072";
}
#dossier-contents-container .contents-list .content-item div.item-header .icon button.play:hover {
  border-color: mediumseagreen;
  color: mediumseagreen;
}
#dossier-contents-container .contents-list .content-item div.item-header .icon button.play.playing-status.playing {
  border-color: mediumseagreen;
  color: mediumseagreen;
}
#dossier-contents-container .contents-list .content-item div.item-header .icon button.play.playing-status.playing:before {
  content: "\e073";
}
#dossier-contents-container .contents-list .content-item div.item-header .time-progress {
  position: relative;
  margin-bottom: 4px;
}
#dossier-contents-container .contents-list .content-item div.item-header .time-progress hr {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-width: 2px;
}
#dossier-contents-container .contents-list .content-item div.item-header .time-progress hr.bar {
  border-color: darkred;
  width: 0%;
}
#dossier-contents-container .contents-list .content-item div.item-header .info {
  padding-left: 30px;
  padding-right: 30px;
}
#dossier-contents-container .contents-list .content-item div.item-header .controls {
  width: 70px;
}
#dossier-contents-container .contents-list .content-item div.item-header .controls button {
  background: none;
  border: none;
}
#dossier-contents-container .contents-list .content-item div.item-header .controls button.selected {
  color: #3498db;
}
#dossier-contents-container .contents-list .content-item div.item-header .controls span.glyphicon {
  font-size: 16pt;
}
#dossier-contents-container .contents-list .content-item .item-player {
  position: relative;
  text-align: center;
  background: #2e2e2e;
}
#dossier-contents-container .contents-list .content-item .item-player video {
  max-width: 100%;
  max-height: 500px;
}
#dossier-contents-container .contents-list .content-item .item-player audio {
  width: 100%;
}
#dossier-contents-container .contents-list .content-item .item-player img {
  max-height: 500px;
  position: relative;
}
#dossier-contents-container .contents-list .content-item .awareness-context .btn {
  margin: 0px;
  padding: 0px;
}
#dossier-contents-container .contents-list .content-item .awareness-context .popover-content-html {
  display: none;
}
#dossier-contents-container .contents-list .content-item.expanded .secondary {
  height: auto;
  overflow: visible;
  visibility: visible;
}
#dossier-contents-container .contents-list .content-item .description {
  margin: 0px;
}
/*# sourceMappingURL=dossier.css.map */