html,
body {
    min-height: 100%;
    font-size: 10pt;
    background-color: #fff; 
    background-image: url('/images/school.png');
}

html { min-height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
body { min-height: 100%; position: relative;}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.card, .well{
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


nav.navbar{
    padding: 0px;
}
 .navbar .navbar-brand {
        height: 60px;
        padding: 15px 15px;
    }

.navbar .navbar-toggler {
        color: white;
        padding-top: 10px;
        line-height: 30px;
        cursor: pointer;
        outline: none !important;
    }

@media (max-width: 1199px){
    .navbar .navbar-brand {
        height: 50px;
        padding: 10px 15px;
    }
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
